[submodule "vundle"]
	path = "vim/bundle/vundle"
	url = "https://github.com/gmarik/vundle.git"
[submodule "vim-powerline"]
	path = "vim-powerline"
	url = "https://github.com/Lokaltog/vim-powerline.git"
